### Ansible ###
*.retry
become-pwd

### AnsibleTower ###
# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.*~

# Tower runtime roles
# roles/**
!roles/requirements.yml

# Avoid plain-text passwords
*pwd*
*pass*
*password*
*.txt

# Exclude all binaries
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz


### ArchLinuxPackages ###
*.tar.*
*.exe
*.msi
*.log
*.log.*
*.sig

pkg/
src/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
